.tableContainer {
  margin: 20px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.cursorPointer {
  cursor: pointer;
}

.cursorPointer:hover {
  background-color: #f1f1f1;
}


.jokeContainer {
  width: 95%;
  margin-top: 50px;
}

.post {
  margin-top: 50px;
  margin-bottom: 25px;
}

.flexLinks {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}

.firstHeadline {
  cursor: pointer;
  max-width: 55%;
  font-size: 80%;
}

.article {
  white-space: pre-line;
  text-align: justify;
  position: relative;
  width: 80%;
  left: 10%;
  font-size: 150%;
}

.blogArticle {
  white-space: pre-line;
  text-align: justify;
  position: relative;
  width: 95%;
  font-size: 150%;
  cursor: pointer;
}

.article1 {
  white-space: pre-line;
  text-align: center;
  position: relative;
  font-size: 150%;
}

.spotifyPlayer {
  margin-top: 25px;
  border: 2px solid #707070;
}

.relative {
  position: relative;
}

.lense {
  position: absolute;
  font-size: 150%;
  color: #707070;
  top: 3px;
  left: 3%;
}

.sugg {
  font-size: 150%;
  padding-left: 10%;
  color: #707070;
  cursor: pointer;
}

.sugg:hover {
  color: black;
}

.textEnd {
  text-align: end;
}

.header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 2%;
}

.headerH1 {
  margin-right: -125px;
}
.headline {
  border: 1px solid #707070;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2%;
  height: 149px;
  font-size: 200%;
}

.shadow {
  box-shadow: 3px 3px 0px 7px #707070;
  border-radius: 15px;
  background-color: #6c6c6c;
  width: fit-content;
  max-width: 33%;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.headerPointer {
  cursor: pointer;
  text-align: end;
}

.hollowInput2 {
  resize: none;
  overflow: hidden;
  background: none;
  border: none;
  font-size: 200%;
  color: black;
}
.searchBox {
  resize: none;
  overflow: hidden;
  color: #707070;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #707070;
  border-radius: 15px;
  opacity: 1;
  padding-left: 10%;
  font-size: 150%;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.listView {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.listView button {
  margin-right: 10%;
  margin-top: 5%;
}

.submit {
  margin-top: 10%;
  width: 100%;
}

.unsetButton {
  margin-right: unset;
  margin-top: unset;
  margin-bottom: 6%;
  margin-left: 2%;
}

.hollowInput {
  resize: none;
  overflow: hidden;
  background: none;
  border: none;
  color: black;
}

.padding20px {
  padding: 20px;
}

.paddingTop20px {
  padding-top: 20px;
}

.marginRechts20px {
  margin-left: 50px;
}

.cursorPointer {
  cursor: pointer;
}

.createTask {
  width: 15%;
}

.flexRunter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flexRunter2 {
  display: flex;
  flex-direction: column;
  width: 45%;
}


.flexRechts {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2%;
}

.flexRechtsEnd {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 2%;
}

.container {
  padding: 0 2rem;
}

.red {
  background: red;
}

.main {
  position: relative;
  left: 10%;
  width: 80%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}