/* Login Form Styles */
.loginForm {
  display: flex;
  justify-content: center;
}

.loginFormX {
  display: flex;
}

/* Tab Container Styles */
.tabContainer {
  display: flex;
  background-color: #f0f0f0;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
  margin-top: 10%;
}

.tabContainer button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  border-radius: 15px;
}

.tabContainer button:hover {
  background-color: #dddcdc;
}

/* Input Styles within Tab Container */
.tabContainer input {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
}

.tabContainer input:hover {
  background-color: #dddcdc;
}

/* Main Container Styles */
.mainContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
    flex-direction: column;
    align-items: flex-end;
}