/* Sidebar Styles */
.sidebar {
    display: flex;
    flex-direction: column;
    color: #333;
    z-index: 1000;
}

.sidebar h2 {
    margin: 0;
    margin-bottom: 1.5rem;
}

/* Navigation Links Styles */
.navLinks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: max-height 0.3s ease-in-out; /* Smooth transition for height */
    overflow: hidden; /* Hide overflow for animation effect */
    padding: 1%;
}

.navLinks.show {
    max-height: 500px; /* Set max-height to allow for transition */
}

.navLinks a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navLinks a:hover {
    color: #00c49f;
    background-color: #333;
}

.navLinks a:active {
    color: #444;
}

.languageSwitcher {
    position: relative;
    width: 100px;
}

.button {
    display: block;
    margin-bottom: 1rem;
    background: rgb(0, 196, 159);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.hamburgerButton {
    display: none;
}

.hidden {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

.menuToggle {
    display: none;
}

.switchContainer {
    display: flex;
    gap: 1%;
    margin-right: 7%;
}

@media (max-width: 768px) {
    .hamburgerButton {
        display: block;
        margin-bottom: 1rem;
        background: rgb(0, 196, 159);
        color: white;
        border: none;
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .menuToggle {
        display: block;
        margin-bottom: 1rem;
        background: #00c49f;
        color: white;
        border: none;
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1000;
    }

    .rowMenue {
        display: flex;
        justify-content: space-evenly;
    }

    .navLinks {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        background: white;
        width: 100%;
        left: 0;
        top: -10px;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
    }

    .navLinks.show {
        max-height: 500px;
    }
}