/* Sidebar Styles */
.sidebar {
    display: flex;
    flex-direction: column;
    color: #333;
    height: 100vh;
    padding: 1rem;
}

.sidebar h2 {
    margin: 0;
    margin-bottom: 1.5rem;
}

/* Navigation Links Styles */
.navLinks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navLinks a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navLinks a:hover {
    color: #00c49f;
}

.navLinks a:active {
    color: #444;
}

.languageSwitcher {
    position: relative;
    width: 100px;
}

.button {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: translateY(0);
    width: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}
